/* ux.msg.Notify */
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    right:1%;
    top:10px;
    width:360px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
#msg-div .msg .close {
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    position: relative;
    float: right;
    right: -9px;
    top: -4px;
    padding: 4px 8px;
    margin-left: 30px;
    cursor: pointer;
}
.icon-help{background-image:url(../images/help.png) !important;background-repeat:no-repeat;background-position:center;}